export(assign_cn_state)
export(assign_cn_state.chrom)
export(cn_test_nb)
export(construct_segment_to_bin_dictionary)
export(estimate_param)
export(estimate_variance_dispersion)
export(inv_wavelet_transform)
export(merge_calls)
export(normalize_depth)
export(recenter_svd_normalized_depth)
export(robust_pca)
export(segment_residuals)
export(wavelet_transform)
importFrom(magrittr,"%>%")
importFrom(stats,median)
importFrom(stats,reshape)
importFrom(utils,globalVariables)
